@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model ZDO.CHSite.Controllers.IndexModel

<!DOCTYPE html>
<html lang="@Model.DocLang">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0" />
  <title>@Model.PR.Title</title>
  <meta name="keywords" content="@Model.PR.Keywords" />
  <meta name="description" content="@Model.PR.Description" />
  <meta name="google" content="notranslate" />
  @if (Model.PR.NoIndex)
  { <meta name='robots' content='noindex,nofollow' /> }
  <link href='https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Neuton&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu:700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Ubuntu&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
  <environment names="Development">
    <link rel="stylesheet" href="/dev-style/tooltipster.css">
    <link rel="stylesheet" href="/dev-style/page.css">
    <link rel="stylesheet" href="/dev-style/forms.css">
    <link rel="stylesheet" href="/dev-style/entry.css">
    <link rel="stylesheet" href="/dev-style/newentry.css">
    <link rel="stylesheet" href="/dev-style/history.css">
    <link rel="stylesheet" href="/dev-style/lookup.css">
    <link rel="stylesheet" href="/dev-style/diagnostics.css">
  </environment>
  <environment names="Staging,Production">
    <link rel="stylesheet" href="/prod-style/app.min.css" asp-append-version="true">
  </environment>
</head>
<body class="@Model.BodyClass">
  <div id="headerStickFull">
    <div id="headerFull">
      @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
      {
          <div id="headerHome"><span id="hdrHomeLatin">CHDICT</span><span id="hdrHomeZho">汉匈词典</span></div>
      }
      else
      {
          <div id="headerHome"><span id="hdrHomeLatin">HANDEDICT</span><span id="hdrHomeZho">汉德词典</span></div>
      }
      <div class="hdrSearch hdrAlt on">
        <div class="searchBox">
          <input type="text" id="txtSearchFull" class="txtSearch active" />
          <i class="btnWrite fa fa-paint-brush"></i>
          <i class="btnSettings fa fa-cog"></i>
          <i class="btnSearch fa fa-search"></i>
        </div>
        <i id="toMenu" class="fa fa-chevron-left"></i>
      </div>
      <div id="hdrMenu" class="hdrAlt">
        <a class="topMenu ajax" id="topMenuSearch" href="/@Model.Lang"><i class="fa fa-search"></i></a>
        @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
        {
            <a class="topMenu ajax" id="topMenuEdit" href="/@Model.Lang/edit/new">@Model.Str("header.topEdit")</a>
            <a class="topMenu ajax" id="topMenuRead" href="/@Model.Lang/read/about">@Model.Str("header.topRead")</a>
            <a class="topMenu ajax" id="topMenuDownload" href="/@Model.Lang/download">@Model.Str("header.topDownload")</a>
        }
        else
        {
            <a class="topMenu ajax" id="topMenuRead" href="/@Model.Lang/read/search-tips">@Model.Str("header.topRead")</a>
            <!-- <a class="topMenu ajax" id="topMenuDownload" href="/@Model.Lang/download">@Model.Str("header.topDownload")</a> -->
        }
        <div id="hdrMenuRight">
          <span class="loginIcon"><i class="fa fa-user"></i></span>
          @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
          {
              <a class="langSel langSelHu on" href="/hu/@Model.Rel">HU</a>
          }
          else
          {
              <a class="langSel langSelDe on" href="/de/@Model.Rel">DE</a>
          }
          <a class="langSel langSelEn first" href="/en/@Model.Rel">EN</a>
        </div>
      </div>
    </div>
    <div id="subHeader">
      @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
      {
          <div class="subMenu" id="subMenuEdit">
            <span id="smEditNew"><a class="ajax" href="/@Model.Lang/edit/new">@Model.Str("header.subEditNew")</a></span>
            <span id="smEditHistory"><a class="ajax" href="/@Model.Lang/edit/history">@Model.Str("header.subEditHistory")</a></span>
            <span id="smEditExisting"><a class="ajax" href="/@Model.Lang/edit/existing">@Model.Str("header.subEditExisting")</a></span>
          </div>
          <div class="subMenu" id="subMenuRead">
            <span id="smReadAbout"><a class="ajax" href="/@Model.Lang/read/about">@Model.Str("header.subReadAbout")</a></span>
            <span id="smReadArticles"><a class="ajax" href="/@Model.Lang/read/articles">@Model.Str("header.subReadArticles")</a></span>
            <span id="smReadEtc"><a class="ajax" href="/@Model.Lang/read/etc">@Model.Str("header.subReadEtc")</a></span>
          </div>
          <div class="subMenu" id="subMenuDownload">
            <span id="smDownload"><span>@Model.Str("header.subDownload")</span></span>
          </div>
      }
      else
      {
          <div class="subMenu" id="subMenuRead">
            <span id="smReadSearchTips"><a class="ajax" href="/@Model.Lang/read/search-tips">@Model.Str("header.subReadSearchTipsHDD")</a></span>
            <span id="smReadAbout"><a class="ajax" href="/@Model.Lang/read/about">@Model.Str("header.subReadAboutHDD")</a></span>
            <span id="smReadVersionHistory"><a class="ajax" href="/@Model.Lang/read/version-history">@Model.Str("header.subReadVersionHistory")</a></span>
          </div>
          <!--
          <div class="subMenu" id="subMenuDownload">
            <span id="smDownload"><span>@Model.Str("header.subDownload")</span></span>
          </div>
          -->
      }
    </div>
  </div>
  <div id="headerStickHamburger">
    <div id="hdrBurgerTop">
      <i id="burger" class="fa fa-bars"></i>
      @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
      {
          <span>CHDICT <b>汉匈词典</b></span>
      }
      else
      {
          <span>HanDeDict <b>汉德词典</b></span>
      }
    </div>
    <div class="hdrSearch hdrAlt on">
      <div class="searchBox">
        <div class="searchBoxRight">
          <i class="btnWrite fa fa-paint-brush"></i>
          <i class="btnSettings fa fa-cog"></i>
          <i class="btnSearch fa fa-search"></i>
        </div>
        <div class="searchBoxLeft">
          <input type="text" id="txtSearchHamburger" class="txtSearch" />
        </div>
      </div>
    </div>
    <div class="hdrTitle hdrAlt"></div>
    <div id="hdrHamMenu">
      @if (Model.Mut == ZDO.CHSite.Mutation.CHD)
      {
          <a class="ajax" href="/@Model.Lang">@Model.Str("header.topSearch")</a>
          <a class="ajax" href="/@Model.Lang/read/about">@Model.Str("header.topRead")</a>
          <a class="ajax sub" href="/@Model.Lang/read/about">@Model.Str("header.subReadAboutHDD")</a>
          <a class="ajax sub" href="/@Model.Lang/read/version-history">@Model.Str("header.subReadVersionHistory")</a>
          <div class="hdrHamMenuSep"></div>
          <div id="hdrHamLangs">
            <a class="langSel langSelHu on" href="/hu/@Model.Rel">HU</a>
            <a class="langSel langSelEn" href="/en/@Model.Rel">EN</a>
          </div>
      }
      else
      {
          <a class="ajax" href="/@Model.Lang">@Model.Str("header.topSearch")</a>
          <a class="ajax" href="/@Model.Lang/read/search-tips">@Model.Str("header.topRead")</a>
          <a class="ajax sub" href="/@Model.Lang/read/search-tips">@Model.Str("header.subReadSearchTipsHDD")</a>
          <a class="ajax sub" href="/@Model.Lang/read/about">@Model.Str("header.subReadAboutHDD")</a>
          <a class="ajax sub" href="/@Model.Lang/read/version-history">@Model.Str("header.subReadVersionHistory")</a>
          <div class="hdrHamMenuSep"></div>
          <div id="hdrHamLangs">
            <a class="langSel langSelDe on" href="/de/@Model.Rel">DE</a>
            <a class="langSel langSelEn" href="/en/@Model.Rel">EN</a>
          </div>
      }
    </div>
  </div>
  <!-- Fixed-position elements shared in full and burger modes -->
  <div id="searchOptionsBox"></div>
  <div id="handwritingBox"></div>
  <div id="searchSuggestions"></div>
  <div id="headermask">&nbsp;</div>

  <div id="hwrap">
    <div id="dynPage" class="nosubmenu">
      @Html.Raw(Model.PR.Html)
    </div>
    <div id="push"></div>
  </div>
  <div id="footer">
    &copy;2015-@Model.Year Gábor L Ugray &bull; @Model.VerStr &bull; <span id="imprint">Impressum</span>
  </div>
  <div id="bittercookie">
    <div>
      <a id="swallowbitterpill" href="#">@Model.Str("misc.cookieOK")</a>
      <a id="cookierecipe" href="/@Model.Lang/read/cookies" target="_blank">@Model.Str("misc.cookieLearnMore")</a>
    </div>
    <div>@Model.Str("misc.cookieNotice")</div>
  </div>

  <div id="debug"></div>
  <div id="emMeasure">mmmmmmmmmm</div>

  <environment names="Development">
    <script src="/lib/history.min.js"></script>
    <script src="/lib/jquery-2.1.4.min.js"></script>
    <script src="/lib/jquery.color-2.1.2.min.js"></script>
    <script src="/lib/jquery.tooltipster.min.js"></script>
    <script src="/dev-js/zdSnippets.js"></script>
    <script src="/dev-js/strings.de.js"></script>
    <script src="/dev-js/strings.hu.js"></script>
    <script src="/dev-js/strings.en.js"></script>
    <script src="/dev-js/charmatcher.js"></script>
    <script src="/dev-js/handwriting.js"></script>
    <script src="/dev-js/page.js"></script>
    <script src="/dev-js/newentry.js"></script>
    <script src="/dev-js/strokeanim.js"></script>
    <script src="/dev-js/lookup.js"></script>
    <script src="/dev-js/history.js"></script>
    <script src="/dev-js/diagnostics.js"></script>
  </environment>
  <environment names="Staging,Production">
    <script src="/prod-js/app.min.js" asp-append-version="true"></script>
  </environment>
  
  <script>
    (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date(); a = s.createElement(o),
      m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
    })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
    ga('create', '@Model.GACode', 'auto');
    ga('send', 'pageview');
  </script>


</body>


</html>
